@tailwind base;
@tailwind components;
@tailwind utilities;

.link{
    width: 250px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link:hover {
    background-color: #2e374a;
    border-radius: 10px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-wraper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.w-full{
    width: 100%;
    display: flex;
    align-items: center;
}
.usersInput{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.usersInput input{
    font-size: 16px;
    padding: 10px 15px;
}
.authorModal-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.authorModal-form input,textarea{
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid green;
    border-radius: 8px;
}