.search-box{
    form{
        height: 40px;
        display: flex;
        align-items: center;
        gap: 10px;
        input{
            height: 100%;
            flex: 1;
            text-indent: 20px;
            border: none;
            outline: none;
            color: #333;
        }  
        button{
            background-color: dodgerblue;
            height: 100%;
            padding: 0 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }  
    }
}